<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.server.mapper.my.MyUserMapper">

   <!-- 一个用户可能有多个角色，所以可能会资源重复，所以需要用distinct 去重一下 -->
    <select id="findResources" resultType="com.wj.server.dto.ResourceDto">
        select distinct r.id, r.name, r.page, r.request, r.parent
        from role_user ru,
             role_resource rr,
             resource r
        where ru.user_id = #{userId}
          and ru.role_id = rr.role_id
          and rr.resource_id = r.id
        order by r.id asc

    </select>

</mapper>